.app-title{
    text-align: center;
}
.to-do-list-container{
    background-color: #fff;
    height: 500px;
    width: 450px;
    margin: 5px auto;
    border-radius: 20px;
    padding: 5px 10px;
    overflow-y: scroll;
}
.add-icon{
    height: 60px;
    cursor: pointer;
}
.add-input{
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 100px;
    border: 2px solid green;
    margin-right: 10px;
    /* width: 300px; */
    width: 220px;
}
.to-do-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.category-select{
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid green;
    margin-right: 10px;
    width: 130px;
}